.pd {
    &__title {
        color: var(--theme-text);
        max-width: 100%;
        text-align: center;
        word-break: break-word;
    }
    &__question-entries {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    &__body {
        max-width: 1000px;
        width:100%;
        border: 2px solid black;
        border-top: none;
        box-sizing: border-box;
        padding: .75rem .4rem;
    }
    &__tabmenu {
        display: flex;
        flex-direction: row;
        column-gap: 0rem;
        padding: 0;
        justify-content: flex-start;
        max-width: 1000px;
        width: 100%;
        margin-bottom: 0;
        & li {
            list-style: none;
        }
        &__tab {
            padding: .2rem;
            margin: 0;
            border: 2px solid black;
            cursor:pointer;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            &.current {
                border-bottom: none;
                
                //padding-bottom: .5rem;
                //transform: translate(0, -.5rem);
            }
        }
        &__spacer {
            flex-grow: 1;
            cursor:default;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid black;
        }
    }
}
.january {
    // january is the default; as long as nothing changes in terms of what is assigned where, this is safely empty
    .pe {
        background-color: rgb(244, 243, 243);
    }
}
.february-light {
    .pd {
        &__title {
            color: var(--theme-text);
        }
        &__body {
            background-color: $electricBlue;
            border-color: $prussianBlue;
        }
        &__tabmenu {
            &__tab {
                background-color: $electricBlue;
            }
            & .spacer { }
        }
        &__preferences {
            &__submission {
                & .primary {}
                //  background-color: var(--theme-);
            }
            &__divider {
                border-color: $prussianBlue;
            }
        }
        &__leaderboard {
            &__body {
                border-color: $prussianBlue;
                color: $prussianBlue;
            }
            --me-background: #{$blush};
            --me-text-color: #{$prussianBlue};
            --odd-row: #{$uranianBlue};
            --even-row: white;
            --header-row: #{$chefchaouenBlue};
            --header-row-text: #{$snow};
            --leaderboard-hover-color: #{$blush};
        }
    }
    .pe {
        border-color: $chefchaouenBlue;
        background-color: $snow;
        &__header {
            &__title {
                color: $chefchaouenBlue;
            }
        }
        &.responded {
            background-color: $uranianBlue;
        }
        .poll.input {
            & .poll__options__item.selected {
                background-color: $prussianBlue;
                & > .poll__options__item__fill-bar {
                    background-color: $blush;
                    filter: brightness(.5);
                }
                & > .poll__options__item__text, & > .poll__options__item__count {
                    color: $snow;
        
                }
            }
        }
        .poll__submit-area {
            &__btn {
                background-color: $blush;
                color: $snow;
                &.muted {
                    color: $snow;
                    background-color: $blush;
                }
            }
        }
    }
}