.annual {
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  align-items:center;
  margin: 0;
  section.header {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
  h1 {
    font-family:sans-serif;
    font-weight:300;
    letter-spacing: 3rem;
    text-align:center;
    font-size:2rem;
    margin: 2rem auto 0;
    @media screen and (min-width:640px) {
      font-size: 4rem;
    }
  }
  section.year {
    width: 100%;
    padding: 2rem;
    box-sizing:border-box;
    max-width: 1000px;

    img {
      display: block;
      max-width: 100%;
    }
    span.caption {
      display:block;
      white-space:pre-wrap;
      width: 100%;
      font-size:1.2rem;
      margin: .6rem auto 0;
      max-width:800px;
    }
    
    .img-wrapper {
      position:relative;
      .date {
        position: absolute;
        right: 0px;
        background-color: #ffffff;
        padding: .2rem .3rem;
        padding-right: .6rem;
        bottom: 15px;
        font-size: 1.1rem;
        font-style:italic;
        font-weight:500;
      }
    }
  }
  section.spacer {
    height: 300px;
  }
}
