
$bright-red: rgb(255, 0, 0);
$dark-red: rgb(144, 0, 0);
$orange: rgb(255, 137, 47);
body.rwbb {
    padding: .5rem;
}
.rwbb {
    h1 {
        margin-top: 0;
        display: block;
        text-align: center;
    }
    h1 {
        background-color: black;
        color: white;
        padding: 2rem 1rem;
        border-radius: 15px;
        margin-top: 0;
        span {
            display:block;
            text-align: center;
        }
        b {
            color: $bright-red;
        }
        b.orange {
            color: $orange;
        }
    }
    h2 {
        background-color: black;
        border-radius: 15px;
        color: white;
        padding: .5rem .75rem;
    }
    .intro {
        blockquote {
            color: $bright-red;
            font-weight: bold;
            margin: 0;
            padding-left: 2rem;
            > span {
                color: black;
                display: block;
                margin-top: .5rem;
                padding: 0 .5rem;
                text-align: right;
                font-style: italic;
            }
        }
    }
    .lookup {
        margin: 1rem 0 0rem 0;
        input {
            width: 100%;
            display: block;
            font-size: 1.2rem;
            box-sizing: border-box;
            padding: .4rem;
            border-radius: 8px;
            border: 1px solid $dark-red;
            color: $dark-red;
        }
        .input-wrapper {
            margin: 1rem 0;
            gap: .5rem;
            display:flex;
            flex-direction: row;
            align-items: center;
            label {
                flex-shrink: 0;
            }
        }
        .info-message {
            color: black;
            display: block;
            text-align: center;
            margin-bottom: 0;
        }
        ul {
            padding-left: .5rem;
            list-style: none;
            > li {
                margin-bottom: .5rem;
                padding: 0;
                > a {
                    text-decoration: none;
                    border-radius: 8px;
                    background-color: $dark-red;
                    color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0;
                    padding: .3rem .6rem;
                    svg {
                        aspect-ratio: 1;
                        height: 20px;
                        display: block;
                        width: auto;
                    }
                }
                &.create {
                    > a {
                        padding: .5rem .6rem;
                        justify-content: center;
                        background-color: $orange;
                        font-weight: bold;
                        color: white;
                    }
                }
            }
        }

    }
    .individual-title {
        padding: .5rem;
    }
    .counter {
        display: flex;
        flex-direction: column;
        > .number-wrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: $bright-red;
            font-size:10rem;
            max-height: 50vh;
            padding-bottom: 3rem;
            .number {
            }
            .indicator {
                display: block;
                width: 80%;
                height: 10px;
                background-color: rgb(56, 202, 56);
                &.posting {
                    background-color: $dark-red;
                }
            }
        }
        > .controls {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            > .pm {
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: none;
                border-radius: 10px;
                background-color: $dark-red;
                color: white;
                position:relative;
                padding: 0;
                > span {
                    position:relative;
                    top: -.3rem;
                    font-size: 5rem;
                    display: flex;
                    flex-direction: flex-start;
                    flex-direction: column;
                    > * {
                        line-height: .5;
                    }
                }
            }
        }
    }
}