
$bright-red: rgb(255, 0, 0);
$dark-red: black;
$accent: $bright-red;
$orange: rgb(255, 137, 47);
body.rwbb {
    padding: .5rem;
}
.rwbb {
    h1 {
        margin-top: 0;
        display: block;
        text-align: center;
    }
    h2 {
        background-color: $dark-red;
        color: white;
        padding: 2rem 1rem;
        border-radius: 15px;
        margin-top: 0;
        span {
            display:block;
            text-align: center;
        }
        b {
            color: $accent;
        }
        b.orange {
            color: $orange;
        }
    }
    .intro {
        blockquote {
            color: $bright-red;
            font-weight: bold;
            margin: 0;
            padding-left: 2rem;
            > span {
                color: black;
                display: block;
                margin-top: .5rem;
                padding: 0 .5rem;
                text-align: right;
                font-style: italic;
            }
        }
    }
    .lookup {
        margin: 1rem 0 0rem 0;
        input {
            width: 100%;
            display: block;
            font-size: 1.2rem;
            box-sizing: border-box;
            padding: .4rem;
            border-radius: 8px;
            border: 1px solid $dark-red;
            color: $dark-red;
            margin: 1rem 0;
        }
        span {
            color: black;
            display: block;
            text-align: center;
            margin-bottom: 0;
        }
    }
}