html {
    height: 100%;
    background-color: rgb(230, 230, 230);
}
main {
    max-width: 700px;
    margin: 0 auto;
    color:rgb(40, 40, 40);
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: Verdana, Tahoma, sans-serif;
    }
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.3;
}