html.root-layout {
    height: 100%;
    background-color: rgb(245, 245, 245);
}
main.homepage {
    max-width: 700px;
    margin: 0 auto;
    color:rgb(54, 54, 54);
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: Verdana, Tahoma, sans-serif;
    }
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}