// variables
// novembers
$thanksgiving-brown: rgb(114, 51, 17);
$thursday-ochre: rgb(161, 73, 18);
$november-tan: rgb(255, 236, 188);
$ghost-of-october: rgb(255, 255, 228);
$charcoal-cemetery: rgb(59, 59, 59);

// october
$charcoal-mining: rgb(59,59,59);
$white: white;
$gray-leiter: rgb(75,75,75);
$pumpkin-orange: #ffbf00;
$corn-yellow:#ffbf00;
$ashen-cue:rgb(100,100,100);
$transparent-1: hsla(0,0%,100%,.655);
$transparent-2: hsla(0,0%,100%,.96);

// december
$snow-white: #f2f2f2;
$fir-green: #01440f;
$tree-trimming: #00b409;
$night-skies: #404343;
$santa-red: #840000;
$rudolph-nose: #c51d1d;

// january
$walnut-brown: #5c574f;
$black-olive: #48483a;
$jasper: #d66853;
$bone: #d1d3c4;
$platinum: #dfe0dc;

// february
$blush: #ed7392;
$snow: #f7f0f0;
$electricBlue: #8af3ff;
$chefchaouenBlue: #3382ef;
$prussianBlue: #0b3142;
$uranianBlue: #b1ddf2;

// march
$spring-green: #92e464;
$baker-miller: #fa91b2;
$columbia-blue: #c4d1d7;
$office-green: #276904;
$lapis-lazuli: #1f6898;
$kelly-green: #40a505;

// april
$periwinkle: #B7B1F2;
$lavender-pink: #fdb7ea;
$pale-dogwood: #ffdccc;
$vanilla-ice: #fbf3b9;
$light-green: #B4FFAB;
$paynes-gray: #536271;
$robins-egg: #1ae3e3;

// may
$bittersweet: hsl(1, 100%, 63%);
$mistyRose: #f1dede;
$claret: #6e0d25;
$saffron: #f9c22e;
$charcoal: #424c55;

// june light
$icterine: #FFFA71;
$air-superiority: #4DA5E0;
$earth-yellow: #FFAE36;
$flame: #DD6031;
$black-olive-2: #2E382E;

// july light
$americanBlue: #19549C;
$fireEngineRed: #D01827;
$darkOrange: #F58F29;
$battleshipGrey: #818479;
$white: #fff;
$strawberryRed: #e55151;

// august light
$body : #510C0C;
$pageTitle : #FFFFFF; 
$header : #8F6B11;
$pollBackground : #950006;
$optionsItem : #FFBF1E;
$optionsItemFillBar : #84BF43;
$optionsItemText : #000000;
$optionsItemCount : #FFFFFF;
$buttonSignup : #950006;

$laptop-width: 760px;
$tablet-width: 450px;


.december-light {
    --theme-primary: #{$fir-green};
    --theme-secondary: #{$santa-red};
    --theme-tertiary: #{$tree-trimming};
    --theme-text: #{$tree-trimming};
    --theme-background: #{$snow-white};
}
.january {
    --theme-primary: #{$walnut-brown};
    --theme-secondary: #{$jasper};
    --theme-tertiary: #{$black-olive};
    --theme-text: #{$walnut-brown};
    --theme-background: #{$platinum};
    --theme-alt-background: #{$bone};
}
.february-light {
    --theme-primary: #{$electricBlue};
    --theme-secondary: #{$chefchaouenBlue};
    --theme-tertiary: #{$blush};
    --theme-text: #{$prussianBlue};
    --theme-background: #{$uranianBlue};
    --theme-alt-background: #{$snow};
}
.march-light {
    --theme-primary: #{$office-green};
    --theme-secondary: #{$columbia-blue};
    --theme-tertiary: #{$baker-miller};
    --theme-text: #{$lapis-lazuli};
    --theme-background: #{$columbia-blue};
    --theme-alt-background: transparent;
}
.april-light {
    --theme-primary: #{$pale-dogwood};
    --theme-secondary: #{$lavender-pink};
    --theme-tertiary: #{$light-green};
    --theme-text: #{$paynes-gray};
    --theme-background: #{$periwinkle};
    --theme-alt-background: transparent;
}
.may-light {
    --theme-primary: #{$bittersweet};
    --theme-secondary: #{$mistyRose};
    --theme-tertiary: #{$saffron};
    --theme-text: #{$charcoal};
    --theme-background: #{$claret};
    --theme-alt-background: transparent;
}
.june-light {
    --theme-primary: #{$earth-yellow};
    --theme-secondary: #{$flame};
    --theme-tertiary: #{$air-superiority};
    --theme-text: #{$black-olive-2};
    --theme-background: #{$icterine};
    --theme-alt-background: transparent;
}
.july-light {
    --theme-primary: #{$americanBlue};
    --theme-secondary: #{$fireEngineRed};
    --theme-tertiary: #{$darkOrange};
    --theme-text: #{$white};
    --theme-background: #{$americanBlue};
    --theme-alt-background: transparent;
}
.august-light {
    --theme-primary: #{$body};
    --theme-secondary: #{$pollBackground};
    --theme-tertiary: #{$optionsItem};
    --theme-text: #{$optionsItemText};
    --theme-background: #{$body};
    --theme-alt-background: transparent;
}
