html.spooktober-layout {
  //    background-color: orange;
  //    color: black;
  background-color: rgb(59, 59, 59);
  color: white;

  main {
    padding-bottom: 4rem;
  }
}

.daynav__container {
  margin-bottom: 1rem;
}

a.button {
  background-color: $slaight-grey;
  border-radius: 10px;
  color: black;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 150px;
  display: block;
  transition-duration: .1s;

  &:hover {
    transform: scale(1.03);
  }

  &.cta {
    background-color: $white;
    color: $charcoal-mining;
  }

  &.wide {
    width: 300px;
  }

}

a.external {
  background-color: rgb(72, 40, 0);
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  padding: .5rem;

  &.memoriam {
    max-width: 500px;
  }
}
