.poll.input {
    &:not(.submitting) .poll__options__item {
        cursor: pointer;
        transition-duration: .2s;
        transition-property: transform;
        &:not(.selected):hover {
            transform: scale(1.02);
        }
    }
    &.submitting .poll__options__item {
      opacity: .8;  
    }
    & .poll__options__item.selected { 
        //margin-left: 2rem;

        & > .poll__options__item__fill-bar {
        }
        & > .poll__options__item__text, & > .poll__options__item__count {

        }
    }   
}
.poll__submit-area {
    //width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    /* @keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: .75; }
        100% { opacity: 1; }
    } */
    &__btn {
        /* 
            animation: pulse;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; 
        */
        cursor: pointer;
        box-shadow: none;
        border:none;
        border-radius: 5px;
        padding: .25rem;
        width: 100%;
        min-width: 250px;
        font-size: 1.25rem;
        min-height: 50px;
        //max-width: 540px;
        background-color: var(--theme-primary);
        color: var(--theme-background);
        transition-duration: .1s;
        &:hover {
            transform: scale(1.02);
        }
        &.muted {
            animation: none;
            opacity: .5;
        }
        &.unclickable {
            cursor: loading;
            &:hover {
                transform: none;
            }
        }
    }
    .submission-message {
        box-sizing: border-box;
        width: 100%;
        display: inline;
        margin: 0;
        min-width: 250px;
        max-width: 540px;
        min-height: 50px;
        color: var(--theme-text);
        border: 2px solid var(--theme-secondary);
        border-radius: 5px;
        padding:.5rem;
        > span {
            max-width: 250px;
            display:block;
            margin: 0 auto;
            text-align: center;
            text-wrap:word-break;
        }
    }
}
@media screen and (max-width: 896px) {
    .poll__submit-area .submission-message {
        display:flex;
        flex-direction: column;
        justify-content: center;
        max-width: unset;
        > span {
            max-width: unset;
            display:block;
            margin: 0 auto;
            text-align: center;
            text-wrap:word-break;
        }
    }    
}
