.pd {
    &__preferences {
        padding: .5rem;
        max-width: 600px;
        margin: 0 auto;
        h3 {
            margin-top: 2rem;
            &:first-child {
              margin-top: 0;
            }
        }
        &__fieldset {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
        &__field {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            &.checkbox {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                > input, > label {
                    cursor: pointer;
                }
                > input {
                    margin-right: .5rem;
                }
                > label {
                    margin-left: .25rem;
                }
            }
            &.select {
                > select {
                    cursor: pointer;
                    font-size: 1rem;
                }
                > label {
                    margin-bottom: .25rem;
                }
            }
            label {
                @media screen and (max-width: 32rem) {
                    font-size: .9rem;

                }
                font-size:1.15rem;
                
            }
            input, input[disabled] {
                margin: .25rem;
                margin-left: 0;
                margin-right:0;
                border: 2px solid var(--theme-alt-background);
                background-color: white;
                color:black;
                border-radius: 5px;
                padding: .25rem;
                @media screen and (max-width: 32rem) {
                    font-size: .9rem;
                }
                font-size:1rem;
            }
            input[disabled] {
                cursor: not-allowed;
            }
            .warning {
              font-style:italic;
              font-weight:bold;
            }
        }
        &__submission {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: .25rem;
            > button {
                max-width:fit-content;
                padding: .25rem .75rem;
                @media screen and (max-width: 32rem) {
                    font-size: .9rem;
                }
                font-size: 1rem;
                &.primary {
                    //background-color: var(--theme-primary);
                    border: none;
                    //color: white;
                    &:hover {
                        transform: scale(1.05);
//                        background-color: var(--theme-secondary);
 //                       color: white;
                    }
                }
                &.muted {
                    //border: 2px solid var(--theme-primary);
                    //background-color: transparent;
                    //color: var(--theme-primary);
                    &.submitting {
                        &:hover { transform: none; }
                        opacity: .5;
                        cursor: wait;
                    }
                }
                border-radius: 5px;
                transition-duration: .2s;
                cursor:pointer;
            }
        }
        &__divider {
            width: 100%;
            height: 0;
            border-bottom: 2px solid #ff4b6b;
            margin: 0 auto;
            margin-top:1rem;
            margin-bottom: 1rem;
        }
        &__info-bar {
            margin-top: .5rem;
            font-size: inherit;
            display:flex;
            flex-direction: row;
            justify-content: flex-end;
            color: var(--theme-text);
            @media screen and (max-width: 32rem) {
                font-size: .9rem;
            }
        }
      .title {
        &__display {
          text-align: center;
          font-size: 1.2rem;
          margin: .5rem 0;
        }
        &__pre {
          margin: 0;
          font-style: italic;
        }
      }
    }
}
.poll__btn {
    &.generate {
        font-size: 1rem;
        margin: .4rem auto;
        @media screen and (max-width: 32rem) {
            font-size: .9rem;
        }
        max-width:fit-content;
        padding: 0 .5rem;
        @media screen and (max-width: 28rem) {
            max-width: 100%;
            width: 100%;
            padding: .25rem;
        }
    }
}
