.june-light {
  // page body
  &.poll__body {
    background-color: $icterine;
  }

  .poll {
    background-color: $flame;
    color: inherit;
    box-shadow: inherit;

    &__page-title {
      color: $flame;
      font-weight: 500;
    }

    &__header {
      &:before {
        content: 'POLL';
        color: $icterine;
        transform: rotate(10deg);
        font-family: 'Courier New', Courier, monospace;
      }

      color: white;
      a {
        color: $icterine;
        &:hover {
          color: white;
        }
      }
    }

    &__options {
      &__item {
        background-color: $earth-yellow;
        border: 2px solid $icterine;
        padding: 0.3rem;

        &__text,
        &__count {
          color: $black-olive-2;
          font-weight: 500;
        }

        &__fill-bar {
          background-color: $icterine;
        }
      }
    }

    &__footer {
      &__rc {
        color: white;
      }

      &__refresh {
        background-color: white;
        color: $black-olive-2;
        border: none;

        //border: 2px solid $earth-yellow;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }

    &__postscript {
      background-color: $air-superiority;
      color: white;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }

    .loading-notice {
      color: $mistyRose;
    }

    &__btn {
      background-color: $flame;
      color: white;

      &.outline {
        border: 3px solid $flame;
        background-color: transparent;
        ;
        //background-color: rgba(0,0,0,.15);
        color: $flame;

        &.submit:not(.submitting):hover {
          transform: scale(1.05);
        }

        &.submit {
          border-color: $flame;
          background-color: $flame;
          color: white;
        }
      }

      &.cta {
        background-color: $flame;
        color: white;
        border: none;
        text-decoration: underline;
      }
    }

    &__date {
      color: $flame;
      font-weight: bold;
    }
  }

  a {
    color: $flame;
    font-weight: bold;
  }

  .pd {
    &__title {
      color: $flame;
    }

    &__body {
      background-color: $air-superiority;
    }

    &__tabmenu {
      &__tab {
        background-color: $air-superiority;
        color: white;
        font-weight: 500;

        &.current {
          //background: $charcoal;
        }
      }

      & .spacer {}
    }

    &__preferences {
      h3 {
        color: $white;
      }

      &__field {
        input {
          //border-color: $earth-yellow;
          background-color: $icterine;
          color: $black-olive;
        }

        &.title, label {
          color: $white;
        }
      }

      & .generate {
        background-color: $earth-yellow;
        color: $black-olive-2;
        border: 2px solid $icterine
      }

      &__submission {
        & .primary {
          background-color: $earth-yellow;
          color: $black-olive-2;
          border: 2px solid $icterine;
        }

        & .muted {
          border: 2px solid white;
          background-color: transparent;
          color: white;
        }
      }

      &__info-bar {
        color: white;
      }

      &__divider {
        border-color: white;
      }
    }

    &__leaderboard {
      h3 {
        color: $white;
      }
      --me-background: #{$flame};
      --me-text-color: #{$white};
      --odd-row: #{$earth-yellow};
      --even-row: #{$icterine};
      --header-row: #{$icterine};
      --header-row-text: #{$black-olive-2};
      --leaderboard-hover-background: #{$blush};
      &__refresh .pd__btn {
        background-color: $earth-yellow;
        color: $black-olive-2;
        border: 1px solid $icterine;
        border-radius: 4px;
      }
    }
  }

  .pe {
    border: 2px solid $earth-yellow;
    background-color: $icterine;

    &__header {
      &__title {
        color: $black-olive-2;
      }

      &__text {
        color: $black-olive-2;
      }
    }

    &.responded {
      background-color: $earth-yellow;
      border: 2px solid $icterine;

      .pe__header {
        &__title {}
      }
    }

    .poll.input {
      & .poll__options__item.selected {
        background-color: $icterine;

        &>.poll__options__item__fill-bar {}

        &>.poll__options__item__text,
        &>.poll__options__item__count {
          color: $black-olive-2;
        }

        &:before {
          content: '';
          position: absolute;
          width: 4px;
          // the border is 2px and 2px, so we add 4px here to account for it
          height: calc(100% + 4px);
          // shift upwards by the 2px on top so aligned correctly
          top: -2px;
          left: -12px;
          display: block;
          background-color: $icterine;
        }
      }
    }

    .poll__submit-area {
      &__btn {
        background-color: $air-superiority;
        color: $white;
        border: 2px solid white;

        &.muted {
          background-color: $black-olive-2;
          color: $earth-yellow;
          opacity: .8;
          border: none;
        }
      }

      .submission-message {
        border-color: $black-olive-2;
      }
    }
  }

  input {
    border-color: transparent;
  }
  .login {
    &__body {
      &__input-section {
        input {
          border: 2px solid $black-olive-2;
        }
        .submit {
          background-color: $white;
        }
      }
    }
  }
}

