.september-light {
  
  // page body
  &.poll__body {
    background-color: $munsell-blue;
  }

  .poll {
    background-color: $atomic-tangerine;
    color: inherit;
    box-shadow: inherit;

    &__page-title {
      color: $white;
      font-weight: 500;
    }

    &__header {
      &:before {
        content: 'POLL';
        color: $white;
        transform: rotate(10deg);
        font-family: 'Courier New', Courier, monospace;
      }

      color: $white;
    }

    &__options {
      &__item {
        background-color: $munsell-blue;
        padding: 0.3rem;

        &__text,
        &__count {
          color: $white;
          font-weight: 500;
        }

        &__fill-bar {
          background-color: $cerulean;
        }
      }
    }

    &__footer {
      &__rc {
        color: $white;
      }

      &__refresh {
        background-color: $munsell-blue;
        color: $celadon;
        border: none;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
    
    &__postscript {
      background-color: $burgundy;
      color: $white;
    }

    .loading-notice {
      color: $white;
    }

    &__btn {
      background-color: $celadon;
      color: $munsell-blue;

      &.outline {
        border: 2px solid $celadon;
        background-color: $munsell-blue;
        color: $celadon;

        &.submit:not(.submitting):hover {
          transform: scale(1.05);
        }

      }

      &.cta {
        background-color: $atomic-tangerine;
        color: white;
        border: none;
        text-decoration: underline;
      }
    }

    &__date {
      color: $white;
      font-weight: bold;
    }
  }

  a {
    color: $celadon;
    font-weight: bold;
  }
  .pd {
    &__title {
      color: $white;
    }

    &__body {
      background-color: $cerulean;
      border-color: $pakistan-green;
    }

    &__tabmenu {
      &__tab {
        background-color: $cerulean;
        color: white;
        font-weight: 500;
        border-color: $pakistan-green;
      }

      &__spacer {
        border-color: $pakistan-green;
      }
    }

    &__preferences {
      h3 {
        color: $white;
      }

      &__field {
        input {
          border-width: 1px;
          background-color: $munsell-blue;
          color: $white;
        }

        label {
          color: $white;
        }

        & .disabled input {
          color: gray;
        }

        .title {
          &__pre {
            color: $celadon;
          }
          &__display {
            color: $white;
          }
        }
      }

      & .generate {
        background-color: $atomic-tangerine;
        color: $pakistan-green;
        padding: .2rem .5rem;
      }

      &__submission {
        & .primary {
          background-color: $burgundy;
          color: $white;
          border: 2px solid $white;
        }

        & .muted {
          border: 2px solid white;
          background-color: transparent;
          color: white;
        }
      }

      &__info-bar {
        color: white;
      }

      &__divider {
        border-color: white;
      }
    }

    &__btn {
      background-color: $celadon;
      color: $pakistan-green;
      padding: .2rem .5rem;
      border: none;
      font-weight: bold;
      transition-duration: .2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }

    &__leaderboard {
      &__body {}

      --me-background: #{$celadon};
      --me-text-color: #{black};
      --odd-row: #{$cerulean};
      --even-row: #{$munsell-blue};
      --header-row: #{$pakistan-green};
      --header-row-text: #{white};
      --body-row-text: #{white};
      --odd-body-row-text: #{white};
      --surrounding-text-color: #{white};
      --leaderboard-hover-background: #{$atomic-tangerine};
      --leaderboard-hover-text: #{black};
    }
  }

  .pe {
    border: none;
    background-color: $celadon;

    &__header {
      &__title,
      &__text,
      &__date {
        color: $pakistan-green;
        a {
          color: $cerulean;
        }
      }
    }

    &.responded {
      background-color: $pakistan-green;

      .pe__header {

        &__title,
        &__text,
        &__date {
          color: $celadon;
        }
      }
    }

    .poll.input {
      & .poll__options__item.selected {
        background-color: $cerulean;

        &>.poll__options__item__fill-bar {
          background-color: $pakistan-green;

        }

        &>.poll__options__item__text,
        &>.poll__options__item__count {
          color: white;
        }

        &:before {
          content: '';
          position: absolute;
          width: 4px;
          // the border is 2px and 2px, so we add 4px here to account for it
          height: calc(100% + 4px);
          // shift upwards by the 2px on top so aligned correctly
          top: -2px;
          left: -12px;
          display: block;
          background-color: $white;
        }
      }
    }

    .poll__submit-area {
      &__btn {
        background-color: $celadon;
        color: $pakistan-green;
        border: 2px solid $cerulean;

        &.muted {
          background-color: $munsell-blue;
          color: $white;
          opacity: .8;
          border: none;
        }
      }

      .submission-message {
        >span {
          color: white;
        }

        border-color: white;
      }
    }
  }

  input {
    border-color: transparent;
  }
}
